---
import { Image } from "astro:assets";
import dateFormat from "@lib/utils/dateFormat";
import { humanize, slugify } from "@lib/utils/textConverter";
import { BiCalendarEdit, BiCategoryAlt, BiHash } from "react-icons/bi/index.js";

const { posts, limit = 3, random = false } = Astro.props;

// Extract all unique tags from posts
const allTags = [...new Set(posts.flatMap((post) => post.data.tags || []))];

// Select a random tag if random is true, otherwise use the first tag
const selectedTag = random
  ? allTags[Math.floor(Math.random() * allTags.length)]
  : allTags[0];

// Filter posts by the selected tag
let filteredPosts = posts.filter(
  (post) => post.data.tags && post.data.tags.includes(selectedTag),
);

// Randomize posts if requested
if (random) {
  filteredPosts = filteredPosts.sort(() => Math.random() - 0.5);
}

// Limit the number of posts
filteredPosts = filteredPosts.slice(0, limit);
---

<div class="space-y-4">
  {
    filteredPosts.map((post: any) => (
      <div class="bg-white shadow-sm rounded-lg overflow-hidden">
        <div class="flex flex-col sm:flex-row">
          {post.data.image && (
            <a
              href={`/${post.slug}/`}
              class="w-full sm:w-2/5 flex-shrink-0 overflow-hidden"
            >
              <div class="aspect-w-16 aspect-h-9">
                <Image
                  class="object-cover w-full h-full transition duration-300 hover:scale-105"
                  src={post.data.image}
                  alt={post.data.title}
                  width={320}
                  height={180}
                  transition:name={`image-${post.slug}`}
                />
              </div>
            </a>
          )}
          <div class="w-full sm:w-3/5 p-3 flex flex-col justify-between">
            <div>
              <h5
                class="text-sm font-semibold mb-1 line-clamp-2 not-prose"
                transition:name={`title-${post.slug}`}
              >
                <a
                  href={`/${post.slug}/`}
                  class="hover:text-primary transition duration-300"
                >
                  {post.data.title}
                </a>
              </h5>
            </div>
          </div>
        </div>
      </div>
    ))
  }
</div>
