---
import TwSizeIndicator from "@components/TwSizeIndicator.astro";
import config from "@config/config.json";
import theme from "@config/theme.json";
import { plainify } from "@lib/utils/textConverter";
import Footer from "@partials/Footer.astro";
import Header from "@partials/Header.astro";
import "@styles/style.scss";

// font families
const pf = theme.fonts.font_family.primary;
const sf = theme.fonts.font_family.secondary;

// types for frontmatters
export interface Props {
  title: string;
  meta_title?: string;
  description?: string;
  image?: string;
  noindex?: boolean;
  canonical?: string;
}

const defaultImage = "images/posts/01.jpg";
// distructure frontmatters
const {
  title,
  meta_title,
  description,
  image = defaultImage,
  noindex,
  canonical,
} = Astro.props;
const canonicalURL = `${config.site.base_url}/${Astro.url.pathname.replace(
  "/",
  "",
)}`;
const author = config.metadata.meta_author;
const mytitle = plainify(
  meta_title ? meta_title : title ? title : config.site.title,
);
const mydescription = plainify(
  description ? description : config.metadata.meta_description,
);

const myimage = `${config.site.base_url}${image}`
---

<!DOCTYPE html>
<html lang="en">
<head>
<title>{mytitle}</title>
<script src="https://an.bitdoze.com/js/plausible.outbound-links.js" data-domain="bitdoze.com" defer></script>

<link rel="icon" href='/favicon.ico' />
<link rel="sitemap" href='/sitemap-index.xml' />
<link rel="canonical" href={canonicalURL} />
    <!-- noindex robots -->
    {noindex && <meta name="robots" content="noindex,nofollow" />}

<!-- Primary Meta Tags -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<meta name="title" content={mytitle} />
<meta name="description" content={mydescription} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={canonicalURL} />
<meta property="og:title" content={mytitle} />
<meta property="og:description" content={mydescription} />
<meta property="og:image" content={myimage} />

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:url" content={canonicalURL} />
<meta name="twitter:title" content={mytitle} />
<meta name="twitter:description" content={mydescription} />
<meta name="twitter:image" content={myimage} />
<meta name="twitter:creator" content="@bitdoze">


  </head>
  <body>
    <TwSizeIndicator />
    <Header />
    <main id="main-content" class="min-h-[60vh]">
      <slot />
    </main>
    <Footer />
  </body>
</html>
